.home_content{
    list-style: disc;
    padding: 25px;
    margin: 0;
    text-align: justify;
}
.page-header.blog-one {
    background-image: none;
}
.theme-hover.download_gallery img {
    width: 100%;
    max-height: 312px;
}
button.btn.btn-read.btn-inverted.account_form_submit_button {
    color: #fff;
    background: #202020;
}
.freedowmload.modal-header .close {
    margin-top: -70px;
}
.freedowmload.close {
    font-size: 40px;
}
.blog_video_gallery{
	border-bottom:0px !important;
}
.theme-hover.download_gallery{
	height: 312px;
}
.error
{
  color: #d63333 !important;
}
img.blog_list_img {
    height: 250px;
    width: 100%;
}
.my-story .second {
    float: right;
    display: inline-block;
    position: relative;
    margin-top: -2px;
}
.theme-hover img {
    max-height: 260px;
}
.error
{
  color: #d63333 !important;
}
img.home_banner {
    height: 900px;
}
.blog-shortdesc{
	min-height: 50px !important;
}
.blog figure figcaption div {
    color: #fff;
}
input[type=text], input[type=email], input[type=search], input[type=password], input[type=number], select {
    font-size: 15px;
}
.message_error{
	color:red;
}
.no_category{
	text-align:center;
}
.theme-hover.blog_gallery {
    float: left;
    width: 100%;
    position: relative;
    height: 200px;
}
.theme-hover.portfolio_gallery {
    float: left;
    width: 100%;
    position: relative;
    height: 200px;
}
@media screen and (max-width: 1024px){
	.col-sm-6.floatright{
	float:right !important;
}
}
@media screen and (max-width: 991px) and (min-width: 768px){
	.footer-gallery li {
		width: 25%;
	}
}
@media only screen and (max-width: 1024px) {
	#scroll-top.showScrollTop {
    opacity: 0;
	}
}
@media only screen and (max-width: 767px) {
	iframe {
		width: 100%;
	}
    .owl-dots {
		display: none !important;
	}
}
@media screen and (max-width: 1024px) and (min-width: 768px){
	.theme-hover.blog_gallery {
		float: left;
		width: 100%;
		position: relative;
		height: 100px;
	}
    .slider.owl-theme .owl-dots {
		bottom: 25%;
	}
}