
.pricing-table-section{margin:0 0 20px 0;padding:0;position: relative;}
.pricing-table-div{margin:0 0 0px 0;padding:0px;position: relative;border: 2px solid #eee;border-top-left-radius: 16px;border-top-right-radius: 16px;}
.pricing-table-div{margin:0;padding:0px;position: relative;border: 2px solid #eee;border-radius: 16px;}
.top-row-div{margin:0;padding:20px;position: relative;text-align: center;}
.top-row-div h3{margin:0;padding:0px;}
.top-row-div p{margin:0;padding:0px;}

.second-row-div{margin:0;padding:20px;background-color: rgba(0, 0, 0, 1);color: #fff;}
.second-row-div h2{margin:0;padding:0px 0 0 0;text-align: center;color: #fff;}
.second-row-div p{margin:0;padding:5px;text-align: center;}

.middle-row-div{margin:0;padding:20px;position: relative;}
.middle-row-div .div-left-row{padding: 0 10px;}
.middle-row-div .div-right-row{padding: 0 5px;}
.middle-row-div i{padding:13px 10px 0 10px;margin: 0;}
.middle-row-div p{padding:10px;margin: 0;}

.row-line{border-bottom: 1px solid #eee;}

.footer-row-div{margin:0;padding:0 20px 10px 20px;position: relative;}
.footer-1{margin:0;padding:0 00px 00px 00px;position: relative;text-align: center;}
.footer-row-div span{text-align: center;font-size: 14px;}

.footer-btn-div{margin:0 auto;padding:20px 0;text-align: center;}
.btn-footer {display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 16px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;
    touch-action: manipulation;cursor: pointer;border: 1px solid transparent;border-radius: 4px;background-color: black;color: #fff;text-transform: capitalize;letter-spacing: 2px;
}

.btn-footer:hover{background-color: #fff;border: 1px solid #000;color:#000;transition: background-color .3s ease-in-out;}

.footer-details{margin:20px 0px;padding: 0px 0px;}
.star{padding: 0 10px 0 0;}
.ol li{line-height: 1.6;padding: 5px 10px 5px 20px;}
.bold {   font-weight: 700;color: #000;padding: 10px 20px;border: 1px solid #eee;border-radius: 6px;}
.style-footer{    border: 1px solid #eee;border-radius: 15px;padding: 15px 25px;margin: 0px 0px 15px 0px;}

@media screen and (max-width: 1023px) and (min-width: 768px) {
   .middle-row-div {height: 180px;}
}

@media screen and (max-width: 767px){
    
    .btn-footer {font-size: 14px;}   
    .middle-row-div p {
        padding: 10px;
        margin: 0;
        font-size: 13px;
    }
    .footer-row-div span {
        text-align: center;
        font-size: 13px;
    }
    .footer-details {
        margin: 20px 00px;
        padding: 0px 10px;
    }
    .footer-details p{font-size: 14px;}
    .pricing-table-section ol li {
        line-height: 1.6;
        font-size: 14px;
    }
}
